*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;    
    background: #f0f2f5;
    
}
#root{
    width: 100vw;
    height: 100vh;
}
.navbar{
    border: 2px solid;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3px;
    span{
        // border: 2px solid;
        margin-left: 25o;
        margin-left: 26px;
        font-size: 20px;
    }
    a{
        text-decoration: none;
    }
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // border: 2px solid red;
    .form{
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    hr{
        height: 6px;
        width: 500px; 
    }
    label{
        font-size: 22px;
    }
    input{
        width: 500px;
        background: #c5f1f1;
        height: 35px;
        border-radius:8px ;
        text-align: center;
    }
     #loginBtn{
        padding: revert;
    font-size: 24px;
    border-radius: 8px;
    margin-top: 5px;
    width: 95px;
    }
}
}
.signup{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // border: 2px solid red;
    .form{
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    hr{
        height: 6px;
        width: 500px; 
    }
    label{
        font-size: 22px;
    }
    input{
        width: 500px;
        background: #c5f1f1;
        height: 35px;
        border-radius:8px ;
        text-align: center;
    }

}
}
#signupBtn{
    padding: revert;
font-size: 24px;
border-radius: 8px;
margin-top: 5px;
width: 95px;
}